*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.background-img {
    position: relative;
    background: url('img/Background.png');
    height: 630px;
    width: 370px;
}

.illustration {
    position: absolute;
    background: url('img/Illustration.png');
    height: 500px;
    width: 370px;
}

.app-info {
    color: #fff;
    text-transform: uppercase;
    padding: 55px;
}

.logo {
    background: url('img/Logo.png');
    height: 100px;
    width: 70px;
}

.heading {
    font-size: 36px;
    letter-spacing: 4px;
}

.sub-heading {
    font-size: 12px;
    letter-spacing: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 55px 0 55px;
}

.input-email{
    color: #533EDE;
    border: none;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
}

.input-pass {
    border: none;
}